[Unit]
Description=Locust Distributed Master
After=network-online.target
Wants=network-online.target
StartLimitIntervalSec=0

[Service]
Type=simple
WorkingDirectory={{ locust_home }}
ExecStart={{ locust_venv }}/bin/locust \
  -f {{ locust_home }}/locustfile.py \
  --master \
  --master-bind-host {{ locust_master_host }} \
  --master-bind-port {{ locust_master_port }} \
  --web-host {{ locust_web_host }} \
  --web-port {{ locust_web_port }}{% if locust_enable_rebalancing | bool %} \
  --enable-rebalancing{% endif %} \
  --loglevel INFO \
  --logfile {{ locust_log_dir }}/master.log
Restart=always
RestartSec=3
LimitNOFILE={{ locust_limit_nofile }}
LimitNPROC={{ locust_limit_nproc }}
TimeoutStopSec=30
KillSignal=SIGTERM

[Install]
WantedBy=multi-user.target
